# DX 602 Week 5 Homework

## Introduction

In this homework assignment, you will practice plotting data with Matplotlib, and exercise previous Python skills to support preparing data for charts.

The problems in this assignment will be graded manually due to their visual nature, so you will not have automatic grading this week.

## Example Code

You may find it helpful to refer to this GitHub repository of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx602-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

### Submission

To submit your homework, take the following steps.

1. Save and commit this notebook.
2. Push your changes to GitHub.
3. Confirm that your changes are visible in GitHub.
4. Delete the codespace to avoid wasting your free quota.

This homework will be manually graded, so you will not get immediate feedback from the auto-grading process.

## Shared Imports

Do not import any other modules.
In particular, other charting modules such as Seaborn are forbidden.

In [ ]:
import math

import matplotlib.pyplot as plt

## Problems

### Problem 1 (4 points)

Use `plt.scatter` to plot the data in `q1x` and `q1y`, using them as the x and y coordinates respectively.

In [ ]:
# DO NOT CHANGE

q1r = [i / 120 for i in range(20, 120)]
q1x = [math.cos(i / 10) * q1r[i] for i in range(100)]
q1y = [math.sin(i / 10) * q1r[i] for i in range(100)]

In [ ]:
# show the first 10 entries of q1x
q1x[:10]

In [ ]:
# show the first 10 entries of q1y
q1y[:10]

In [ ]:
# YOUR CHANGES HERE

### Problem 2 (4 points)

Use `plt.plot` to plot the data in `q2x` and `q2y`, using them as the x and y coordinates respectively.

In [ ]:
# DO NOT CHANGE

q2r = [math.sin(i / 10) for i in range(100)]
q2x = [math.cos(i * 2 * math.pi / 100) * q2r[i] for i in range(100)]
q2y = [math.sin(i * 2 * math.pi / 100) * q2r[i] for i in range(100)]

In [ ]:
# YOUR CHANGES HERE

### Problem 3 (4 points)

Plot the given data in `q3strawberries` and `q3bananas` in the same line chart with the values in `q3days` for a shared x axis.
Each line should be labeled nicely, and their colors should be set to red and yellow respectively.

In [ ]:
# DO NOT CHANGE

q3days = range(10)
q3strawberries = [1, 2, 2, 4, 2, 5, 6, 5, 6, 8]
q3bananas = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4]

In [ ]:
# YOUR CHANGES HERE

### Problem 4 (4 points)

The same data is in `q4days`, `q4strawberries` and `q4bananas` as was used for problem 3.
This time, plot the strawberry and banana charts in two separate charts with the strawberry data above the banana data.
Plot these charts from the same cell using `plt.subplot`.

In [ ]:
# DO NOT CHANGE

q4days = range(10)
q4strawberries = [1, 2, 2, 4, 2, 5, 6, 5, 6, 8]
q4bananas = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4]

In [ ]:
# YOUR CHANGES HERE

### Problem 5 (4 points)

Read the following code.
What text will be above the graph?

```
plt.plot(q5x, q5y, label="mystery #1")
plt.xlabel("mystery #2")
plt.ylabel("mystery #3")
plt.title("mystery #4")
```

In [ ]:
# YOUR CHANGES HERE

p5 = ...

In [ ]:
p5

### Problem 6 (4 points)

Plot the values in `q6x` and `q6y` as x and y values respectively, making sure to set the ranges appropriately to see where the variation is large or small compared to typical values.

In [ ]:
# DO NOT CHANGE

q6x = [34, 52, 55, 66, 75, 82, 85, 99]
q6y = [10.3, 10.5, 10.2, 11.1, 10.1, 10.5, 11.2, 11.3]

In [ ]:
# YOUR CHANGES HERE

### Problem 7 (4 points)

Make a scatter plot of the x and y values in `q7x` and `q7y` repeated four different ways in the same chart as follows.
1. Plot the original data without change.
2. Plot -x and y instead of x and y. This flips the data horizontally around the y axis.
3. Plot x and -y instead of x and y. This flips the data vertically around the x axis.
4. Plot -x and -y instead of x and y. This flips the data horizontally and vertically.

In [ ]:
# DO NOT CHANGE

q7y = [i / 500 for i in range(1000)]
q7x = [math.sqrt(1 - (y - 1)**2) for y in q7y]

In [ ]:
# YOUR CHANGES HERE

### Problem 8 (4 points)

Plot 3 subplots with the data drawn from `q8a_x` and `q8a_y` for the first subplot, `q8b_x` and `q8b_y` for the second subplot, and `q8c_x` and `q8c_y` for the third subplot.
Make sure that the ranges of each axis are set appropriately for easy comparison between subplots.

In [ ]:
# DO NOT CHANGE

q8a_x = [1, 2, 3, 4, 5]
q8a_y = [1, 2, 3, 2, 1]

q8b_x = [-2, -1, 0, 1, 2]
q8b_y = [5, 3, 1, 3, 5]

q8c_x = [0, 2, 4, 6, 8]
q8c_y = [5, 4, 3, 2, 1]

In [ ]:
# YOUR CHANGES HERE

### Problem 9 (4 points)

Read the following code.

```
plt.subplot(1, 5, 1)
plt.plot(q9x, q9ya)
plt.plot(q9x, q9yb)
plt.subplot(1, 5, 2)
plt.plot(q9x, q9yc)
```

Set `p9` to the number of charts generated.

In [ ]:
# YOUR CHANGES HERE

p9 = ...

### Problem 10 (4 points)

The variables `q10` is initialized with 5 steps of the Collatz sequence starting from 15.
Collatz sequences work with the following rule.

```
if the current value x is odd:
    the next value will be 3x+1
else:
    the next value will be x/2
```

Extend `q10` to ten entries following this rule, then plot them as a line chart.
Use the values in `q10` as the y values.
You can use the default values for x in the `plt.plot` call.

In [ ]:
# DO NOT CHANGE

q10 = [15, 46, 23, 70, 35]

### Problem 11 (4 points)

Make a scatter plot using x and y values loaded from `f11.csv`.

This data set is the "Datasaurus" that inspired the [Datasaurus Dozen](https://www.research.autodesk.com/publications/same-stats-different-graphs/).

### Problem 12 (4 points)

Plot a line chart of using the data in `q12x` and `q12y` for the x and y values respectively.
Beware that the data is not sorted yet.

In [ ]:
# DO NOT CHANGE

q12x = [1, 9, 5, 7, 8, 2, 0, 3, 6, 4]
q12y = [x**2 + 1 for x in q12x]

In [ ]:
# YOUR CHANGES HERE

### Problem 13 (4 points)

Read the following code.

```
plt.subplot(3, 1, 1)
plt.plot(q13a_x, q13a_y)
plt.plot(q13b_x, q13b_y)

plt.subplot(3, 1, 2)
plt.plot(q13c_x, q13c_y)

plt.subplot(3, 1, 3)
plt.subplot(q13d_x, q13d_y)
plt.subplot(q13e_x, q13e_y)
plt.subplot(q13f_x, q13f_y)
```

Set `p13` to the number of data series in the first plot.

In [ ]:
# YOUR CHANGES HERE

p13 = ...

### Problem 14 (4 points)

Modify the following code cell to save the chart to `p14.png`.

In [ ]:
# DO NOT CHANGE

xs = [i / 200 for i in range(1000)]

In [ ]:
# DO NOT CHANGE

plt.plot(xs, [math.sin(x) for x in xs], label="sin(x)")
plt.plot(xs, [math.cos(x) for x in xs], label="cos(x)")

plt.legend()
plt.title("Comparing Sine and Cosine")
plt.xlabel("X")

# YOUR CHANGES HERE

### Problem 15 (4 points)

Use the function `math.comb` to make a bar chart illustrating the binomial distribution for $n=10$.
That is, for integers x from zero to ten, there should be a bar whose height is $10 \choose x$.

In [ ]:
# YOUR CHANGES HERE

### Problem 16 (4 points)

Plot a histogram of the values in `q16` using the function `plt.hist`.

In [ ]:
# DO NOT CHANGE

q16 = [0.00, 0.02, 0.04, 0.06, 0.08, 0.10, 0.12, 0.14, 0.16, 0.18, 0.20, 0.22, 0.24, 0.27, 0.29, 0.31, 0.33, 0.35, 0.37, 0.39, 0.41, 0.43, 0.45, 0.47, 0.49, 0.51, 0.53, 0.55, 0.57, 0.59, 0.61, 0.63, 0.65, 0.67, 0.69, 0.71, 0.73, 0.76, 0.78, 0.80, 0.82, 0.84, 0.86, 0.88, 0.90, 0.92, 0.94, 0.96, 0.98, 1.00, -0.00, -0.02, -0.04, -0.06, -0.08, -0.10, -0.12, -0.14, -0.16, -0.18, -0.20, -0.22, -0.24, -0.27, -0.29, -0.31, -0.33, -0.35, -0.37, -0.39, -0.41, -0.43, -0.45, -0.47, -0.49, -0.51, -0.53, -0.55, -0.57, -0.59, -0.61, -0.63, -0.65, -0.67, -0.69, -0.71, -0.73, -0.76, -0.78, -0.80, -0.82, -0.84, -0.86, -0.88, -0.90, -0.92, -0.94, -0.96, -0.98, -1.00, -0.00, -0.02, -0.04, -0.06, -0.08, -0.10, -0.12, -0.14, -0.16, -0.18, -0.20, -0.22, -0.24, -0.27, -0.29, -0.31, -0.33, -0.35, -0.37, -0.39, -0.41, -0.43, -0.45, -0.47, -0.49, -0.51, -0.53, -0.55, -0.57, -0.59, -0.61, -0.63, -0.65, -0.67, -0.69, -0.71, -0.73, -0.76, -0.78, -0.80, -0.82, -0.84, -0.86, -0.88, -0.90, -0.92, -0.94, -0.96, -0.98, -1.00, 0.00, 0.02, 0.04, 0.06, 0.08, 0.10, 0.12, 0.14, 0.16, 0.18, 0.20, 0.22, 0.24, 0.27, 0.29, 0.31, 0.33, 0.35, 0.37, 0.39, 0.41, 0.43, 0.45, 0.47, 0.49, 0.51, 0.53, 0.55, 0.57, 0.59, 0.61, 0.63, 0.65, 0.67, 0.69, 0.71, 0.73, 0.76, 0.78, 0.80, 0.82, 0.84, 0.86, 0.88, 0.90, 0.92, 0.94, 0.96, 0.98, 1.00, 0.0, 0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1, 0.11, 0.12, 0.135, 0.145, 0.155, 0.165, 0.175, 0.185, 0.195, 0.205, 0.215, 0.225, 0.235, 0.245, 0.255, 0.265, 0.275, 0.285, 0.295, 0.305, 0.315, 0.325, 0.335, 0.345, 0.355, 0.365, 0.38, 0.39, 0.4, 0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5, 0, -0.01, -0.02, -0.03, -0.04, -0.05, -0.06, -0.07, -0.08, -0.09, -0.1, -0.11, -0.12, -0.135, -0.145, -0.155, -0.165, -0.175, -0.185, -0.195, -0.205, -0.215, -0.225, -0.235, -0.245, -0.255, -0.265, -0.275, -0.285, -0.295, -0.305, -0.315, -0.325, -0.335, -0.345, -0.355, -0.365, -0.38, -0.39, -0.4, -0.41, -0.42, -0.43, -0.44, -0.45, -0.46, -0.47, -0.48, -0.49, -0.5, 0, -0.01, -0.02, -0.03, -0.04, -0.05, -0.06, -0.07, -0.08, -0.09, -0.1, -0.11, -0.12, -0.135, -0.145, -0.155, -0.165, -0.175, -0.185, -0.195, -0.205, -0.215, -0.225, -0.235, -0.245, -0.255, -0.265, -0.275, -0.285, -0.295, -0.305, -0.315, -0.325, -0.335, -0.345, -0.355, -0.365, -0.38, -0.39, -0.4, -0.41, -0.42, -0.43, -0.44, -0.45, -0.46, -0.47, -0.48, -0.49, -0.5, 0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1, 0.11, 0.12, 0.135, 0.145, 0.155, 0.165, 0.175, 0.185, 0.195, 0.205, 0.215, 0.225, 0.235, 0.245, 0.255, 0.265, 0.275, 0.285, 0.295, 0.305, 0.315, 0.325, 0.335, 0.345, 0.355, 0.365, 0.38, 0.39, 0.4, 0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5, 0, 0.0025, 0.005, 0.0075, 0.01, 0.0125, 0.015, 0.0175, 0.02, 0.0225, 0.025, 0.0275, 0.03, 0.03375, 0.03625, 0.03875, 0.04125, 0.04375, 0.04625, 0.04875, 0.05125, 0.05375, 0.05625, 0.05875, 0.06125, 0.06375, 0.06625, 0.06875, 0.07125, 0.07375, 0.07625, 0.07875, 0.08125, 0.08375, 0.08625, 0.08875, 0.09125, 0.095, 0.0975, 0.1, 0.1025, 0.105, 0.1075, 0.11, 0.1125, 0.115, 0.1175, 0.12, 0.1225, 0.125, 0, -0.0025, -0.005, -0.0075, -0.01, -0.0125, -0.015, -0.0175, -0.02, -0.0225, -0.025, -0.0275, -0.03, -0.03375, -0.03625, -0.03875, -0.04125, -0.04375, -0.04625, -0.04875, -0.05125, -0.05375, -0.05625, -0.05875, -0.06125, -0.06375, -0.06625, -0.06875, -0.07125, -0.07375, -0.07625, -0.07875, -0.08125, -0.08375, -0.08625, -0.08875, -0.09125, -0.095, -0.0975, -0.1, -0.1025, -0.105, -0.1075, -0.11, -0.1125, -0.115, -0.1175, -0.12, -0.1225, -0.125, 0, -0.0025, -0.005, -0.0075, -0.01, -0.0125, -0.015, -0.0175, -0.02, -0.0225, -0.025, -0.0275, -0.03, -0.03375, -0.03625, -0.03875, -0.04125, -0.04375, -0.04625, -0.04875, -0.05125, -0.05375, -0.05625, -0.05875, -0.06125, -0.06375, -0.06625, -0.06875, -0.07125, -0.07375, -0.07625, -0.07875, -0.08125, -0.08375, -0.08625, -0.08875, -0.09125, -0.095, -0.0975, -0.1, -0.1025, -0.105, -0.1075, -0.11, -0.1125, -0.115, -0.1175, -0.12, -0.1225, -0.125, 0, 0.0025, 0.005, 0.0075, 0.01, 0.0125, 0.015, 0.0175, 0.02, 0.0225, 0.025, 0.0275, 0.03, 0.03375, 0.03625, 0.03875, 0.04125, 0.04375, 0.04625, 0.04875, 0.05125, 0.05375, 0.05625, 0.05875, 0.06125, 0.06375, 0.06625, 0.06875, 0.07125, 0.07375, 0.07625, 0.07875, 0.08125, 0.08375, 0.08625, 0.08875, 0.09125, 0.095, 0.0975, 0.1, 0.1025, 0.105, 0.1075, 0.11, 0.1125, 0.115, 0.1175, 0.12, 0.1225, 0.125]

In [ ]:
# YOUR CHANGES HERE

### Problem 17 (4 points)

Plot the factorial function from n=1 to 10 using log scale for better legibility.

Recall that the factorial of $n$, denoted $n!$, is calculated as the product $1 \times 2 \times \ldots \times n$.
The plots that you plot should be $(1, 1!), (2, 2!), (3, 3!), \ldots, (10, 10!)$.
Use [`plt.yscale`](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.yscale.html) to change your y axis to use log scale.

In [ ]:
# YOUR CHANGES HERE

### Problem 18 (4 points)

Read the data from `f18.tsv` and parse it as a TSV file.
Divide the data by the "animal" column and in a subplot for each animal, plot the "age" and "weight" columns as the x and y axes respectively with a different subplot for each animal.
Each subplot should be a line chart, but add markers for each point as some animals only have one data point.
Make sure to mention the animal name in the chart titles, and label the axes.

In [ ]:
# YOUR CHANGES HERE

### Problem 19 (4 points)

The file `abalone.tsv` has data from the [UCI Abalone data set](https://archive.ics.uci.edu/dataset/1/abalone).
Load the file and plot it as a scatter plot using the length for the x axis and diameter for the y axis.
Make sure to label the chart.

In [ ]:
# YOUR CHANGES HERE

### Problem 20 (4 points)

Read the file `f20.tsv` and parse it as a TSV file.
Three of its columns are color, x, and y.
Plot these x, y values with the specified color using [`plt.scatter`](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html).

Hint: you may find it useful to separate the rows by color first, and use a separate call to `plt.scatter` for each color.

In [ ]:
# YOUR CHANGES HERE